
<div class="container_neon">
  <div class="sign">
      <div class="neon-blue" id="title">Rockt<span id="fade">ail</span>s</div>
      <div class="neon-blue"> With <span class="neon-purple" id="trav">Jack</span> & <span class="neon-purple">Daniels</span></div>
   </div>
</div>
