
<div class="container_neon">
  <div class="sign">
      <div class="neon-blue" id="title">Lets G<span id="fade">et</span> Drunk Night</div>
      <div class="neon-blue"> With <span class="neon-purple" id="trav">Gin</span> And <span class="neon-purple">Tonic</span></div>
   </div>
</div>
